@model IEnumerable<app_financas.Models.Financas>
    
<div class="container">
    <h1>Lista - Finanças</h1>
    <a class="btn btn-success" href="Financas/Criar">Nova finança</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Número do documento</th>
                <th>Grupo de despesa</th>
                <th>Local de compra</th>
                <th>Valor da despesa</th>
                <th>Ações</th>
            </tr>
            </tr>
        </thead>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.data</td>
                <td>@item.numero_doc</td>
                <td>@item.grupo_despesa</td>
                <td>@item.local_compra</td>
                <td>@item.valor</td>
                <td><a class="btn btn-info" href="Financas/Detalhar/@item.id">Detalhes</a>
                <a class="btn btn-primary" href="Financas/Editar/@item.id">Modificar</a>
                <a class="btn btn-danger" href="Financas/Deletar/@item.id">Deletar</a> </td>
            </tr>
        }
    </table>
</div>